<div class="container mx-auto px-4 py-12">
<div class="text-center py-8">
<h2 class="text-4xl font-extrabold text-white" data-i18n="adminPanelTitle">Painel de Administração</h2>
<p class="text-gray-400 mt-2" data-i18n="adminPanelSubtitle">Gerir a sua loja.</p>
</div>
<div class="flex flex-col lg:flex-row gap-12">
<aside class="w-full lg:w-1/4">
<div class="bg-primary p-4 rounded-lg shadow-lg">
<nav class="flex flex-col space-y-2" id="admin-nav">
<a class="account-nav-link font-semibold p-3 rounded-md flex items-center gap-3" href="#/admin" data-i18n="adminNavManageProducts"><i class="fas fa-box-open w-5"></i>Gerir Produtos</a>
<a class="account-nav-link font-semibold p-3 rounded-md flex items-center gap-3" href="#/admin-orders" data-i18n="adminNavManageOrders"><i class="fas fa-receipt w-5"></i>Gerir Encomendas</a>
<a class="account-nav-link font-semibold p-3 rounded-md flex items-center gap-3" href="#/admin-reviews" data-i18n="adminNavManageReviews"><i class="fas fa-star-half-alt w-5"></i>Gerir Avaliações</a>
</nav>
</div>
</aside>
<section class="w-full lg:w-3/4"><div id="admin-content-area"></div></section>
</div>
</div>
